[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rparadox"]
	path = Rparadox
	url = https://github.com/celebithil/rparadox
[submodule "sshist"]
	path = sshist
	url = https://github.com/celebithil/sshist
